
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  margin-bottom: 20px;
  height: 200px ;
}

body {
  background-image: url("./assets/images/bg-pattern.png");
  }

.pageWaitingRoom{
  min-height: calc(100vh - 50px);
}

.textfield {
  width: 350px;

}

.background {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding: 30px;

}

.WaitingOverview-logo{
  height: 200px;
  float:left;
  margin-top: -10px;
  margin-left: 55px;
}

.playerlist {
  margin: auto;
  margin-top: 20px;
  width: 240px;
  height: 400px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding: 30px;

}

.WaitingOverview-roomPin {
  font-size: 30pt;
  font-weight: bold;
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 70px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding-top: 10px;
}


.copyButton {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgb(255,245,220);
  border: none;
  }

.copysvg {
  width: 30px;
  padding-top: 5px;
  margin: auto;
}

.ButtonCreateRoom {
  width: 150px;
  height: 50px;
 }

.ButtonJoinRoom {
  width: 150px;
  height: 50px;
}

.ButtonBackHome {
    height: 30px;
}

.ButtonNewRoom {
  height: 30px;
}

.header {
  background-color: #F1D9AF;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #fff5dc;
  }

.header-logo {
  margin-left: 10px;
  margin-top: 5px;
  height: 50px ;
  float: left;
}

.header-heading {
  float: left;
  margin-top: 11px;
  margin-left: 20px;
}

.header-text {
  margin: auto;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 20pt;

}
.header-timecount {
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 70px;
  font-size: 25pt;
  font-weight: bold;
}

.header-stopwatch {
  height: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 15pt;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #DDC090;
  position: sticky;
  top:100%;
  /*position: absolute;
  bottom: 0;
  border-top: 3px solid #fff5dc; */

}

.footer-waiting {
  float: left;
  margin: auto;
  padding-left: 30px;
  padding-top: 2px;

}

.footer-room-id {
  float: right;
  margin: auto;
  padding-right: 30px;
  padding-top: 2px;
}

.versus{
  height: 80px;
  margin-bottom: 10px;
}

.players-headline{
  font-size: 16pt;
  font-weight: bold;
  margin: 10px;
}

.playerNameWait{
  font-size: 14pt;
  height: 30px;
  background-color: #f3d6a1;
  border-radius: 10px;
  margin-bottom: 10px;
}


.playerNameList{
  margin-bottom: 40px;
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.ButtonStartGame{

}

.WaitingOverview-waitforplayers{
  top: 35%;
  position: absolute;
}

.PageScoreboard-trophy {
  margin-top: 20px;
  width: 150px;
}
h2 {
  font-size: 20pt;
}
h1 {
  font-size: 35pt;
}
.PageScoreboard-heading {
  font-size: 20pt;
}

.PageScoreboard-winner {
  margin-bottom: 70px;
}

.PageScoreboard-ButtonPlayAgain {

}

.PageScoreboard-nacho {
  height: 40px;
}

/** Memory Game */
.memory-game{
  float:left;
  margin-top: 30px;
  margin-left: 100px;
  width: 1040px;
  height: 800px;
}

.memory-card-list {
  float: left;
  margin: auto;
  width: 70%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.memory-card-button{
  background-image: url("./assets/images/card-pattern.jpg");
  background-size: 250%;
  width: 100px;
  height: 100px;
  font-size: 18pt;
  border-radius: 5px;
}

.memory-card{
  width:  99px;
  height: 99px;
  border-radius: 5px;
}

.memory-card-image{
  width:  96px;
  height: 96px;
  background-color: #fff2dc;
  border: 2px solid black;
  margin-left: -8px;
  margin-top: -3px;
  border-radius: 8px;
}

.memory-card-content{
  font-size: 14pt;
  background-color: #fff2dc;
  border-radius: 8px;
  border: 2px solid black;
  width:  96px;
  height: 71px;
  padding-top: 25px;
  margin-left: -8px;
  margin-top: -3px;

}

.card-finished {
  border: 3px solid #1d8d00;
  border-radius: 8px;
}


/** PointOverview */
.playerOnTurnBox{
  float:right;
  margin-bottom: 20px;
  background-color: #F1D9AF;
  width: 300px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid black;
}

.playerOnTurnName{
  float: left;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 14pt;
  }

.playerOnTurnPoints{
  float: right;
  font-size: 18pt;
  margin-top: 2px;
  margin-right: 25px;

}

.playerNotOnTurnBox{
  float:right;
  margin-bottom: 20px;
  background-color: #F1D9AF;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff5dc;
}

.playerNotOnTurnName{
  float: left;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 14pt;

}

.playerNotOnTurnPoints{
  float: right;
  font-size: 18pt;
  margin-top: 2px;
  margin-right: 25px;
}


.nacho-points {
  float:right;
  height: 27px;
  padding-top: 5px;
  padding-right: 10px;

}