
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.memory-card-list {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}


.memory-card {
  width: 60px;
  height: 60px;
}


.memory-card-button {
    width: 100%;
    height: 100%;
}
.logo {
  margin-bottom: 20px;
  height: 200px ;
}

body {
  background-image: url("./assets/images/bg-pattern.png");

}

.textfield {
  width: 350px;

}

.background {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding: 30px;

}

.WaitingOverview-logo{
  height: 200px;
  float:left;
  margin-top: -50px;
  margin-left: 55px;
}

.playerlist {
  margin: auto;
  margin-top: 20px;
  width: 240px;
  height: 500px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding: 30px;

}

.WaitingOverview-roomPin {
  font-size: 30pt;
  font-weight: bold;
  margin: auto;
  margin-top: 100px;
  width: 300px;
  height: 70px;
  background-color: rgb(255,245,220);
  border-radius: 10px;
  padding-top: 10px;
}


.copyButton {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgb(255,245,220);
  border: none;
  }

.copysvg {
  width: 30px;
  margin-left: -10px;
  padding-top: 5px;
  margin: auto;
}

.ButtonCreateRoom {
  width: 150px;
  height: 50px;
 }

.ButtonJoinRoom {
  width: 150px;
  height: 50px;
}

.ButtonBackHome {
    height: 30px;
}

.ButtonNewRoom {
  height: 30px;
}

.header {
  background-color: #F1D9AF;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #fff5dc;
  }

.header-logo {
  margin-left: 10px;
  margin-top: 5px;
  height: 50px ;
  float: left;
}

.header-heading {
  float: left;
  margin-top: 11px;
  margin-left: 20px;
}

.header-text {
  margin: auto;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 20pt;

}
.header-timecount {
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 70px;
  font-size: 25pt;
  font-weight: bold;
}

.header-stopwatch {
  height: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 15pt;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #DDC090;
  position: absolute;
  bottom: 0;
  font-weight: normal;
  border-top: 3px solid #fff5dc;

}

.footer-waiting {
  float: left;
  margin: auto;
  padding-left: 30px;
  padding-top: 2px;
}

.footer-room-id {
  float: right;
  margin: auto;
  padding-right: 30px;
  padding-top: 2px;
}

.host{
  font-size: 16pt;
  font-weight: bold;
}

.players{
  font-size: 16pt;
  font-weight: bold;
}

.hostNameWait{
  font-size: 16pt;
  font-weight: bold;
}

.playerNameWait{
  font-size: 16pt;
  font-weight: bold;
}

.WaitingOverview-waitforplayers{
  position: relative;
  top: 55%;
}

.versus{
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-finished {
  border: 3px solid red;
}

.PageScoreboard-trophy {
  margin-top: 20px;
  width: 150px;
}
h2 {
  font-size: 20pt;
}
h1 {
  font-size: 35pt;
}
.PageScoreboard-heading {
  font-size: 20pt;
}

.PageScoreboard-winner {
  margin-bottom: 70px;
}

.PageScoreboard-ButtonPlayAgain {

}

.PageScoreboard-nacho {
  height: 40px;
}

.memory-card-button{
  background-image: url("./assets/images/card-pattern.jpg");
  background-size: 200%;
  width: 120px;
  height: 120px;
  font-size: 18pt;
}

.memory-game{
  margin-top: 30px;
  margin-left: 30px;
  width: 1400px;
  height: 2500px;

}

.memory-card-content{
  font-size: 14pt;

  }

.memory-card-image{
  width: 119px;
  height:120px;
  margin-left: -9px;
  margin-top: 0px;

}

.memory-card-safe {
  font-size: 14pt;
  color: #92C73F;
  text-shadow: 1px 1px #565656;

}

.MemoryGame-player-score {

}

.MemoryGame-player-on-turn-score {

}